extends layout

block content
  h1 Gestão de Condomínios
  h2 Bem-vindo à Gestão de Condomínios

  p O que pretendes visualizar? 


  h5
    a(href='/api/pagamentos') Lista de Pagamentos
  h5
    a(href='/api/movimentos') Lista de Movimentos
              
 
